:root {

    font-size: 16px;
    --read-color: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(67, 167, 107, 0.8) 100%);;
    --not-read-color: linear-gradient(135deg, #e3e3e3 20%, #5d6874 100%);
    --secondary-color: #f2f2f2;
    /* --log-color: rgba(24, 77, 104, 0.8); */
    --button-color: linear-gradient(135deg, #2196f3 0%, #1565c0 100%);
}

* {
    margin: 0px;
    padding: 0px;
    /* font: inherit; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

button {
    background-color: inherit;
    border: none;
}



body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 170px auto;
    position: relative;
}

.add_book {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 3rem;
    background: var(--button-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    cursor: pointer;
    scale: 0.8;
    transition: 0.25s;
}

.add_book:hover {
    transform: scale(1.2) rotate(90deg);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}


.book-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
    padding: 20px;
    align-self: start;
}

.book-display > div {
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    display: grid;
    grid-auto-rows: auto;
    gap: 10px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-content: start;
    position: relative;
    background: var(--not-read-color);
}


.book-display > div > *{
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto; 
    hyphens: auto; 
    overflow: hidden;
}


.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    scale: 0.8;
    opacity: 0.7;
    transition: 0.25s;

}

.close:hover {
    opacity: 1.2;
    transform: scale(1.2) rotate(90deg);
}


.reading-state {
    position: absolute;
    bottom: 5px;
    right: 10px;
}


.reading-state input {
    opacity: 0;
    height: 0;
    width: 0;
}

.reading-state label {
    cursor: pointer;
}

.control {
    display: inline-block;
    margin-top: 2px;
    /* position: absolute;
    top: 0;
    right: 0; */
    vertical-align: bottom;
    height: 20px;
    width: 40px;
    background-color: gray;
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    position: relative;
}

.control::after {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 1px;
    top: 1px;
    transition: left 0.15s ease-in;
}

input:checked ~ .control::after {
    left: 21px;
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--secondary-color);

}

.book-display .read {
    background: var(--read-color);
    color: var(--secondary-color);
}


.order {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-self: start;
    border: none;
    /* grid-template-columns: auto auto auto; */
}

.order * {
    font-size: 1.2rem;
    background-color: inherit;
}

select {
    border-radius: 5px;
}

.order legend {
    float: left;
}

.map {
    justify-self: end;
    display: grid;
    grid-template-columns: 60px auto 60px auto;
    grid-template-rows: 40px;
    gap: 5px;
    /* align-items: center; */
}

.map * {
    display: flex;
    align-items: center;
    font-weight: 200;
}

.color {
    margin-left: 10px;
}

.read_color {
    background: var(--read-color);
    /* border: solid 1px black; */
    border-radius: 5px;
}

.not_read_color {
    background: var(--not-read-color);
    /* border: solid 1px black; */
    border-radius: 5px;
}

header {
    display: flex;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    font-size: 4rem;
}

.library_log {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 5px;
    border: solid 1px black;
    /* background-color: var(--secondary-color); */
    padding: 10px;
    border-radius: 5px;
}

.library_log h2 {
    grid-column: 1 / span 2;
    text-align: center;
}

.library_log * {
    font-weight: 200;
}

.book_adder_section{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    /* background-color: blrgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.book_adder {
    position: relative;
    background-color: white;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
    /* max-width: 100vw; */
    width: min(500px, 100vw);
    height: auto;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 22px;
}

.book_adder > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    width: 100%;
    font-size: 1.2rem;
}

.book_adder > div * {
    font-size: 1.3rem;
}


.book_adder input,
.book_adder select {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px black;
    padding: 5px;
}

.book_adder > .form_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form_buttons button {
    border: solid 1px black;;
    height: 50px;
    padding: 10px;
}

.form_buttons button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.add_button{
    flex: 1;
}

.book_adder_section .close {
    transition: none;
    transform: scale(1.2);
}