:root {

    font-size: 16px;

}

* {
    margin: 0px;
    padding: 0px;
    /* font: inherit; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

button {
    background-color: inherit;
    border: none;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 170px 1fr;
}

body > * {
    border: solid;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

main > * {
    border: solid;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}


.book-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
}

.book-display > * {
    border: solid;
    display: grid;
    grid-auto-rows: auto;
    gap: 10px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-content: start;
    position: relative;
}

.book-display > * > *{
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto; 
    hyphens: auto; 
    overflow: hidden;
}


.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    scale: 0.8;
    opacity: 0.7;
    transition: 0.25s;

}

.close:hover {
    opacity: 1.2;
    transform: scale(1.2) rotate(90deg);
}

.reading-state {
    position: absolute;
    bottom: 5px;
    right: 10px;
}


.reading-state input {
    opacity: 0;
    height: 0;
    width: 0;
}

.reading-state label {
    cursor: pointer;
}

.control {
    display: inline-block;
    margin-top: 2px;
    /* position: absolute;
    top: 0;
    right: 0; */
    vertical-align: bottom;
    height: 20px;
    width: 40px;
    background-color: gray;
    border: solid 1px black;
    border-radius: 10px;
    position: relative;
}

.control::after {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: red;
    position: absolute;
    left: 1px;
    top: 1px;
    transition: left 0.15s ease-in;
}

input:checked ~ .control::after {
    left: 21px;
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
}

.order {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-self: start;
    /* grid-template-columns: auto auto auto; */
}

.order legend {
    float: left;
}

.map {
    justify-self: end;
    display: grid;
    grid-template-columns: 60px auto 60px auto;
    grid-template-rows: 40px;
    gap: 5px;
    /* align-items: center; */
}

.map * {
    display: flex;
    align-items: center;
}

.color {
    margin-left: 10px;
}

.read_color {
    background-color: greenyellow;
    border: solid 1px black;
}

.not_read_color {
    background-color: red;
    border: solid 1px black;
}

header {
    display: flex;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    font-size: 4rem;
}

.library_log {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 5px;
}

.library_log h2 {
    grid-column: 1 / span 2;
    text-align: center;
}